.footer {
  background: $light-black-color;
  padding: 0px 0px 92px 0px;
}
.footer-contents {
  display: flex;
  justify-content: space-between;
  margin-top: 4.7rem;
}
.footer-hr {
  border: 0;
  background-color: $white-color;
  width: 100%;
  height: 1px;
}
.footer-content {
  width: 172px;
  height: 32px;
  color: $white-color;
  font-family: $body-ff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02775rem;
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 32px;
}
