// Colors
$black-color: #151515;
$green-color: #4ee1a0;
$dark-grey-color: #242424;
$grey-color: #d9d9d9;
$white-color: #ffffff;

// Fonts

$main-ff: "Space Grotesk", sans-serif;

$h-fw: 700;

$h1-fs: 8.8rem;
$h1-lh: 1;
$h1-ls: -2.5px;

$h2-fs: 4.8rem;
$h2-lh: 1.16;
$h2-ls: -1.5px;

$h3-fs: 2.4rem;
$h3-lh: 1.33;

$main-fs: 1.8rem;
$main-lh: 1.55;
